 body { background-image: url('http://cdn1.mundodastribos.com/721750-Como-descobrir-alergia-de-chocolate-02.jpg');
  background-repeat;
  background-attachment: fixed;
  background-position:top;}



   p {
     color: red;
     background-color:black;
     border: 23px dashed ;
     padding: 50px;
     margin: 25px;
     width: 1500px;

   }

   h1 {
     color: red;
     background-color:black;
     border: 23px dashed ;
     padding: 50px;
     margin: 25px;
     width: 1500px; }
