h1 {
  color: red;
  background-color:black;
  border: 23px dashed red;
  padding: 50px;
  margin: 25px;
  width: 200px;
}
p {  background-color: darkorange
   ;
  color: white;
  border: 3px dashed white;
  width: 100px;
  padding: 20px;
  margin: 10px;
}
body { background-color: darkorange
   ;
  color: white;
  border: 3px dashed white;
  width: 1000px;
  padding: 20px;
  margin: 10px; }
